<a href="https://colab.research.google.com/github/EOKELLO/IP-WEEK1-CORE/blob/master/Moringa_Data_Science_Core_W6_Independent_Project_2019_07_Elizabeth_Okello_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Research** **Objective**

A Prediction result of a game between team 1 and team 2, based on who's home and who's away, and on whether or not the game is friendly

# **Metric for success**

The initial system was very simple, with no weighting for the quality of opponent or importance of a match

# **The context**

 The teams of the men's member nations of FIFA, football's world governing body, are ranked based on their game results with the most successful teams being ranked highest. The rankings were introduced in December 1992, and eight teams (Argentina, Belgium, Brazil, France, Germany, Italy, the Netherlands and Spain) have held the top position, of which Brazil have spent the longest ranked first.
 
 A points system is used, with points being awarded based on the results of all FIFA-recognised full international matches.
 
 Significant changes were implemented in January 1999 and again in July 2006, as a reaction to criticisms of the system.
 
 [3] Historical records of the rankings, such as listed at FIFA.com, reflect the method of calculation in use at the time, as the current method has not been applied retrospectively to rankings prior to July 2006. Membership of FIFA has expanded from 167 to 211 since the rankings began; all 211 members are currently included in the rankings.
 
 The major changes were as follows:

a.the point ranking was scaled up by a factor of ten
b.the method of calculation was changed to take into account factors including:
c.the number of goals scored or conceded
d.whether the match was played at home or away
e.the importance of a match or competition
f.regional strength
a fixed number of points were no longer necessarily awarded for a victory or a draw
match losers were able to earn points
Two new awards were introduced as part of the system:

Team of the Year
Best Mover of the Year
The changes made the ranking system more complex, but helped improve its accuracy by making it more comprehensive.

Goals scored and home or away advantage were no longer taken into account, and other aspects of the calculations, including the importance attributed to different types of match, were revised. The first set of revised rankings and the calculation methodology were announced on 12 July 2006.

FIFA announced on 10 June 2018 that the ranking system would be updated following the 2018 World Cup. The calculation method to be adopted will be closely modeled after the Elo rating system and rankings of its member associations will be updated on a game-by-game basis. The weighting designated for each confederation for ranking purposes will be abolished

However, the new methodology does not account for home or away games and margin of the victory, as Elo rankings

 FIFA had originally planned to use existing world ranking points from June 2018 as the start value, but when the August rankings appeared, the starting points had been changed to an equal distribution of points between 1600 (Germany, as the previously top ranked team) and 868 (Anguilla, Bahamas, Eritrea, Somalia, Tonga and Turks and Caicos Islands, which had 0 points in June), according to the formula:

# **Experimental design**

create parameters using Input: Home team, Away team, Tournament type (World cup, Friendly, Other)
as i work rank should be part of my training set

Further adaptations in 2006 were made to reduce the number of years' results considered from 8 to 4,[20][21] with greater reliance on matches from within the previous 12 months.

# **Appropriateness of the data**

# **Importing Libraries**

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [6]:
#loading our datasets
ranking = pd.read_csv('fifa_ranking.csv')
ranking.head()

   rank country_full  ... confederation   rank_date
0     1      Germany  ...          UEFA  1993-08-08
1     2        Italy  ...          UEFA  1993-08-08
2     3  Switzerland  ...          UEFA  1993-08-08
3     4       Sweden  ...          UEFA  1993-08-08
4     5    Argentina  ...      CONMEBOL  1993-08-08

[5 rows x 16 columns]

In [19]:
ranking['last_year_avg'].unique()

array([   0.  ,  976.46, 1074.04, ...,   65.66,   65.52,   11.74])

In [11]:
ranking.shape

(57793, 16)

In [12]:
ranking.isnull().sum()

rank                       0
country_full               0
country_abrv               0
total_points               0
previous_points            0
rank_change                0
cur_year_avg               0
cur_year_avg_weighted      0
last_year_avg              0
last_year_avg_weighted     0
two_year_ago_avg           0
two_year_ago_weighted      0
three_year_ago_avg         0
three_year_ago_weighted    0
confederation              0
rank_date                  0
dtype: int64

In [8]:
results = pd.read_csv('results.csv')
results.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [22]:
results['home_team'].unique()

array(['Scotland', 'England', 'Wales', 'Northern Ireland',
       'United States', 'Uruguay', 'Austria', 'Hungary', 'Argentina',
       'Belgium', 'France', 'Netherlands', 'Czechoslovakia',
       'Switzerland', 'Sweden', 'Germany', 'Italy', 'Chile', 'Norway',
       'Finland', 'Luxembourg', 'Russia', 'Denmark', 'Catalonia',
       'Basque Country', 'Brazil', 'Japan', 'Paraguay', 'Canada',
       'Estonia', 'Costa Rica', 'Guatemala', 'Spain', 'Brittany',
       'Poland', 'Yugoslavia', 'New Zealand', 'Romania', 'Latvia',
       'Galicia', 'Portugal', 'Andalusia', 'China PR', 'Australia',
       'Lithuania', 'Turkey', 'Central Spain', 'Mexico', 'Aruba', 'Egypt',
       'Haiti', 'Philippines', 'Bulgaria', 'Jamaica', 'Kenya', 'Bolivia',
       'Peru', 'Honduras', 'Guyana', 'Uganda', 'Belarus', 'El Salvador',
       'Barbados', 'Republic of Ireland', 'Trinidad and Tobago', 'Greece',
       'Curaçao', 'Dominica', 'Silesia', 'Guadeloupe', 'Israel',
       'Suriname', 'French Guiana', 'Cuba', 'Colombia', 'Ecuador',
       'Saint Kitts and Nevis', 'Panama', 'Slovakia', 'Manchukuo',
       'Croatia', 'Nicaragua', 'Afghanistan', 'India', 'Martinique',
       'Zimbabwe', 'Iceland', 'Albania', 'Madagascar', 'Zambia',
       'Mauritius', 'Tanzania', 'Iran', 'Djibouti', 'DR Congo', 'Vietnam',
       'Macau', 'Ethiopia', 'Puerto Rico', 'Réunion', 'Sierra Leone',
       'Zanzibar', 'South Korea', 'Ghana', 'South Africa',
       'New Caledonia', 'Fiji', 'Nigeria', 'Venezuela', 'Burma',
       'Sri Lanka', 'Tahiti', 'Gambia', 'Hong Kong', 'Singapore',
       'Malaysia', 'Indonesia', 'Guinea-Bissau', 'German DR', 'Vanuatu',
       'Kernow', 'Saarland', 'Cambodia', 'Lebanon', 'Pakistan',
       'Vietnam Republic', 'North Korea', 'Togo', 'Sudan', 'Malta',
       'Syria', 'Tunisia', 'Malawi', 'Morocco', 'Benin', 'Cameroon',
       'Central African Republic', 'Gabon', 'Ivory Coast', 'Congo',
       'Mali', 'North Vietnam', 'Mongolia', 'Chinese Taipei', 'Cyprus',
       'Iraq', 'Saint Lucia', 'Grenada', 'Thailand', 'Senegal', 'Libya',
       'Guinea', 'Algeria', 'Kuwait', 'Jordan', 'Solomon Islands',
       'Liberia', 'Laos', 'Saint Vincent and the Grenadines', 'Bermuda',
       'Niger', 'Bahrain', 'Montenegro', 'Palestine', 'Papua New Guinea',
       'Burkina Faso', 'Mauritania', 'Saudi Arabia', 'Eswatini',
       'Somalia', 'Lesotho', 'Cook Islands', 'Qatar',
       'Antigua and Barbuda', 'Faroe Islands', 'Bangladesh', 'Oman',
       'Yemen DPR', 'Burundi', 'Yemen', 'Mozambique', 'Guam', 'Chad',
       'Angola', 'Dominican Republic', 'Seychelles', 'Rwanda',
       'São Tomé and Príncipe', 'Botswana', 'Northern Cyprus',
       'Cape Verde', 'Kyrgyzstan', 'Georgia', 'Azerbaijan', 'Kiribati',
       'Tonga', 'Wallis Islands and Futuna', 'United Arab Emirates',
       'Brunei', 'Equatorial Guinea', 'Liechtenstein', 'Nepal',
       'Greenland', 'Niue', 'Samoa', 'American Samoa', 'Belize',
       'Anguilla', 'Cayman Islands', 'Palau', 'Sint Maarten', 'Namibia',
       'Åland Islands', 'Ynys Môn', 'Saint Martin', 'San Marino',
       'Slovenia', 'Jersey', 'Shetland', 'Isle of Wight', 'Moldova',
       'Ukraine', 'Kazakhstan', 'Tajikistan', 'Uzbekistan',
       'Turkmenistan', 'Armenia', 'Czech Republic', 'Guernsey',
       'Gibraltar', 'Isle of Man', 'North Macedonia', 'Montserrat',
       'Serbia', 'Canary Islands', 'Bosnia and Herzegovina', 'Maldives',
       'Andorra', 'British Virgin Islands', 'Frøya', 'Hitra',
       'U.S. Virgin Islands', 'Corsica', 'Eritrea', 'Bahamas', 'Gotland',
       'Saare County', 'Rhodes', 'Micronesia', 'Bhutan', 'Orkney',
       'Monaco', 'Tuvalu', 'Sark', 'Alderney', 'Mayotte',
       'Turks and Caicos Islands', 'East Timor', 'Western Isles',
       'Falkland Islands', 'Kosovo', 'Republic of St. Pauli', 'Găgăuzia',
       'Tibet', 'Crimea', 'Occitania', 'Sápmi',
       'Northern Mariana Islands', 'Menorca', 'Comoros', 'Provence',
       'Arameans Suryoye', 'Padania', 'Iraqi Kurdistan', 'Gozo',
       'Bonaire', 'Western Sahara', 'Raetia', 'Darfur', 'Tamil Eelam',
       'South Sudan', 'Abkhazia', 'St. Pierre & Miquelon', 'Artsakh',
       'Madrid', 'Vatican City', 'Ellan Vannin', 'South Ossetia',
       'County of Nice', 'Székely Land', 'Romani people', 'Felvidék',
       'Chagos Islands', 'United Koreans in Japan', 'Somaliland',
       'Western Armenia', 'Barawa', 'Kárpátalja', 'Yorkshire', 'Panjab',
       'Matabeleland', 'Cascadia', 'Kabylia', 'Timor-Leste', 'Myanmar',
       'Parishes of Jersey', 'Chameria', 'Saint Helena', 'Curacao'],
      dtype=object)

In [9]:
results.shape

(40839, 9)

In [10]:
results.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
dtype: int64